<?xml version="1.0" encoding = "UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0
Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-
transitional.dtd">
<html xmlns = "http://www.w3.org/1999/xhtml">
<head>
<title>Home</title>
		
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		
		<script src="http://code.jquery.com/jquery-1.7.min.js" ></script>
		<script src="http://code.jquery.com/ui/1.7.0/jquery-ui.js" ></script>

		<link rel="stylesheet" href="home.css" />
		<link rel="stylesheet" href="grid.css" />

</head>
<body>
	<div class="header">
			<div class="container_12">
				<div class="topButton"><a href="/main">Home</a></div>
				<div class="topButton"><a href="/songs">Songs</a></div>
				<div class="topButton"><a href="/other">Drinking</a></div>
				<div class="topButton"><a href="/euro">Eurovision</a></div>
				<div class="topButton"><a href="/about">About</a></div>
				<div class="topButton"><a href="/contact">Contact</a></div>
			</div>
		</div>
		<br /><br />
		<div class="container_12">
		<div id="mainbox">
		<div class="boom">
		<h1>Death Cabernet for Cutie</h1>
		<br />
		<p>Do you have any idea how difficult it is to find a witty title about alcohol and music? 
		<br />Short answer: Pretty darn difficult. The above is the best one I found, and it's only half relevant.
		<br />(if you need an explanation of the pun, see the <em>about</em> page).
		<br /> This website documents two things: Songs, and drinking habits. 
		<br />
		<br />Take a look around, enjoy your stay. Don't throw up on the carpet.</p>
		<br/>
		</div>
		<center>
		<form action="/log_in">
			<input type="submit" value="Login"/>
		</form>
		<form action="/sign_up">
			<input type="submit" value="Sign Up"/>
		</form>
		<form action="/my_account">
			<input type="submit" value="My Account"/>
		</form>
		</center>
		</div>
		</div>


		<br /><br /><br /><br /><br />
</body>
</html>