<html>
<head>
	
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

		<link rel="stylesheet" media="only screen and (max-width: 480px)" href="devstyle2.css" />
		<link rel="stylesheet" media="only screen and (max-width: 480px)" href="grid2.css" />
		<link rel="stylesheet" media="only screen and (min-width: 481px)" href="devstyle.css" />
		<link rel="stylesheet" media="only screen and (min-width: 481px)" href="grid.css" />


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>
<script>
function loadXMLDoc()
{
var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
    }
  }
xmlhttp.open("GET","trick.txt",true);
xmlhttp.send();
}
</script>
<script>

    $(function() {

   var people = [];

   $.getJSON('drinking.json', function(data) 
   {
       $.each(data.data, function(i, f) 
	   {
		
          var tblRow = "<tr>" + "<td>" + f[8] + "</td>" + "<td>" + f[9] + "</td>" + "<td>" + "</td>" + "</tr>"
           $(tblRow).appendTo("#userdata tbody");
     });

   });

});

</script>
</head>

<body>
<div class="header">
			<div class="container_12">
				<div class="topButton"><a href="/main">Home</a></div>
				<div class="topButton"><a href="/songs">Songs</a></div>
				<div class="topButton"><a href="/other">Drinking</a></div>
				<div class="topButton"><a href="/euro">Eurovision</a></div>
				<div class="topButton"><a href="/about">About</a></div>
				<div class="topButton"><a href="/contact">Contact</a></div>
			</div>
		</div>
<div class="search">
<form action="/search" method="post">
<%= token_tag %>
<input name="key" type="input" size="30" />
<input value="Search by Country" type="submit" />
</form>
</div>
<h2>Drinking Habits</h2>
<br /><p>In the table below you can see the average drinkning habits of people in different parts of the world.
</p>
<br />

<div class="wrapper">
<div class="profile">

   <center><div id="myDiv"></div>
<button type="button" onclick="loadXMLDoc()">Drink Responsibly!</button>
	<br />
   
   <table id= "userdata" border="2">
  <thead>
            <th>Location</th>
            <th>Liters per capita pure alcohol adult consumption</th>
        </thead>
      <tbody>
		
       </tbody>
   </table></center>
   

</div> 

</div>
</body>
</html>